body {
  margin: 0;
}

.c-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    flex: 2;
    background-color: grey;

    .header-container {
      padding: 5px;
      justify-content: center;
      display: flex;

      align-items: center;

      .input-container {
        margin-right: 20px;
        display: flex;
        flex-direction: column;

        .name-text-container,
        .number-text-container {
          flex: 1;

          display: flex;

          .just-text {
            font-size: 15px;
          }

          .name-text-box,
          .number-text-box {
            width: 100px;

            &::-webkit-input-placeholder {
              font-size: 10px;
            }
          }
        }
      }
    }

    .submit-button {
      height: 42.4px;
    }
  }

  .body-container {
    flex: 8;
    background-color: #d0d0d0;
  }
}

.mem {
  background-color: red;
}
